{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}

            {% for analysis in meta.analysis %}
                <a href="{{ base_url }}/analysis/{{ analysis.class }}">
                    <div class="box {{ analysis.class }}">
                        <h2>{{ analysis.name }}</h2>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>
</html>
