{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}

            {% for analysis in meta.analysis %}
                <div class="box {{ analysis.class }}">
                    <h2><a href="{{ base_url }}/analysis/{{ analysis.class }}">{{ analysis.name }}</a></h2>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>
</html>